body {
    background-color: black;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 12px;
}

body > div {
    width: 1000px;
}

body > div > div {
    display: inline-block;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}


#header {
    margin-bottom: 30px;
}


#weapon-container {
    width: 29%;
}

#weapon {
    width: 100%
}

#weapon > div {
    margin-bottom: 10px;
}

#weapon-stats {
    width: 100%;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
}

#weapon-stats > table {
    width: 100%;
}

#weapon-stats > table > tbody > tr > td {
    border: none;
    padding-bottom: 10px;
}

#weapon-stats > table > tbody > tr > td.left {
    text-align: left;
    padding-left: 5px;
}

#weapon-stats > table > tbody > tr > td.right {
    text-align: right;
    padding-right: 5px;
}

#mod-container {
    width: 70%;
    height: 100%;
}

#mod-slots {
    width: 100%;
}

#available-mods {
    width: 100%;
}
