::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,1); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,1); 
}

body {
    background-color: black;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: white;
}

body > div {
    width: 1000px;
}

body > div > div {
    display: inline-block;
    vertical-align: top;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}


#header {
    margin-bottom: 30px;
}


#weapon-container {
    width: 290px;
    height: 433px;
}

#weapon {
    width: 100%
}

#weapon > div {
    margin-bottom: 10px;
}

#weapon-stats {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}

#weapon-stats > table {
    width: 100%;
}

#weapon-stats > table > thead > tr > th,
#weapon-stats > table > tbody > tr > td {
    border: none;
    padding-bottom: 10px;
}

#weapon-stats > table .left {
    text-align: left;
    padding-left: 5px;
}

#weapon-stats > table .right {
    text-align: right;
    padding-right: 5px;
}

#mods-container {
    width: 695px;
    height: 433px;
    text-align: right;
    margin-left: 10px;
}

#mod-slots {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

#mod-slots > ul > li,
#available-mods > ul > li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

#mod-slots > ul > li > div,
#available-mods > ul > li > div {
    width: 140px;
    height: 110px;
    text-align: center;
    padding-top: 5px;
}

#mod-slots > ul > li > div > p {
    margin-top: 5px;
}

#mod-slots > ul > li > div > img {
    height: 70px;
}

#available-mods {
    width: 100%;
    text-align: left;
    overflow-x: auto;
    overflow-y: none;
}

#available-mods > ul > li {
    margin: 5px;
}

#available-mods img {
    vertical-align: middle;
    margin-top: 15px;
}
